<form class="form-signin">
  <h2 class="form-signin-heading text-center">{{title}}</h2>
  <label for="inputName" class="sr-only">Name</label>
  <input type="email" id="inputName" class="form-control" placeholder="Name" name="name"required autofocus>
  <label for="inputUsername" class="sr-only">Username</label>
  <input type="email" id="inputUsername" class="form-control" placeholder="Username" name="username" required autofocus>
  <label for="inputEmail" class="sr-only">Email</label>
  <input type="email" id="inputUsername" class="form-control" placeholder="Email" name="email" required autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required autofocus>
  <label for="inputConfirmPassword" class="sr-only">Confirm Password</label>
  <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Confirm Password" name="password2" required>
  <button class="btn btn-lg btn-success btn-block" type="submit">Register</button>
  <a href="/" class="btn btn-lg btn-primary btn-block">Sign in</a>
</form>